
.gallery{
    text-align: center;
    padding: 50px 0;

}
.pics .w{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    justify-content: space-between;
}
.pics .w img{
    /* width: 100%; */
    /* width: auto; */
    height: 200px;
    margin: 10px;
    /* width: min-content;
    height: 200px;
    margin: 10px; */
}
.carousel-item img{ 
    width: auto;
    height: 800px;
}
.icn{
    color: red;
}
@media screen and (max-width: 700px) {
    .pics .w{
        justify-content: center;
    }
    .carousel-item img{ 
        height: 400px;
    }
} 