
/* Css for Topbar */
#topbar{
    display: flex;
    font-size: 14px;
    background-color: #39312f;
    color: white;
  }
  #topbar-ul{
    display: flex;
    list-style: none;
    width: 80%;
    margin: auto;
  }
  #topbar-ul li{
    margin: 10px;
    color: #FFFFFFCC;
  }
  #topbar-ul li i{
    color: #ff5821;
  }
  #topbar-ul li a{
    color: #FFFFFFCC;
  }
  #topbar-ul li a i{
    color: #ff5821;
  }
  #topbar-ul li a:hover{
    text-decoration: none;
    color: white;
  }