


/* Cards */

.card-section{
  display: flex;
  flex-wrap: wrap;
  /* background-color: white; */
  justify-content: space-between;
  position: relative;
  top: -40px;
}
#card1{
  width: 415px;
  height: 280px;
  /* border: 2px solid red; */
  border-radius: 10px;
  padding: 30px;
  background-color: #ff5821;
  color: white;
}
#card1 h1{
  font-size: 35px;
  margin-bottom: 20px;
}
#card1 p{
  margin-bottom: 20px;
}
#card1 div{
  background-color: #FFFFFF33;
  padding: 10px;
  width: max-content;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
}
#card1 div a{
  color: white;
  padding: 20px;
}
#card1 div a i{
  font-size: smaller;
  color: white;
}
.card2{
  animation-duration: 0.6s;
}
.card3{
  animation-duration: 0.4s;
}
.card4{
  animation-duration: 0.6s;
}
.cards{
  width: 250px;
  height: 330px;
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: white;
  align-items: center;
  text-align: center;
}
.cards i{
  font-size: 40px;
  margin-bottom: 20px;
  color: #ff5821;
}
.cards h3{
  margin-bottom: 20px;
}
.cards p{
  margin-bottom: 20px;
}

/* Aritcle one*/
#aboutus{
  display: flex;
  margin: auto;
  padding: 50px 0;
}
#aboutus img{
  width: 45%;
  margin-right: 20px;
}
#aboutus-detail{
  width: 60%;
  margin-left: 20px;
  margin-top: 50px;
}
#aboutus h3,h1,p{
  margin-bottom: 15px;
}


/* Activity  */
#article-activity{
  padding: 50px 0;
}
#article-activity h1,p,ol{
  margin-bottom: 15px;
}
#article-activity ol{
  margin-left: 25px;
}

/* tech-edu-sec */
#tech-edu-sec{
  padding: 50px 0;
}
#tech-edu-sec h1,p{
  margin-bottom: 15px;
}

/* Jr College sec */
#article-jr-college{
  padding: 50px 0;
}
#article-jr-college h1,p,ul{
  margin-bottom: 15px;
}
#article-jr-college ul{
  margin-left: 25px;
}

/* upcomming-projects-sec */
#upcomming-projects-sec{
  padding: 50px 0;
}
#upcomming-projects-sec h1,ol{
  margin-bottom: 15px;
}
#upcomming-projects-sec ol{
  margin-left: 25px;
}

/* Donation sec */
#article-donations{
  padding: 50px 0;
}
#article-donations ol{
margin-left: 25px;
}
#article-donations table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
#article-donations table tr td{
  border:  0.1px solid #635551;
  border-collapse: collapse;
  padding: 10px;
}
.t-heading h1{
  text-align: center;
  padding-bottom: 20px;
  font-weight: lighter;
}

/* Trustee sec */
#trustee-sec{
  padding: 50px 0;
}
#trustee-sec table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
#trustee-sec table th{
  text-align: left;
}
#trustee-sec table tr,th,td{
  border: 0.1px solid #635551;
  padding: 10px;
}

/* Management sec */
#management{
  padding: 50px 0;
}
#management table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
#management table th{
  text-align: left;
}

/* Contact -us form */

#contact-us-heading{
  text-align: center;
  padding: 50px 0;
}
.align-center{
  text-align: center;
}

#contact-boxes{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: space-between;
}
.cb{
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  max-width: 600px;
  padding: 10px 50px;
  margin: 10px 0;
}
.cb h1{
  margin: 10px;
  text-align: left;
  color: #635551;
}
.cb p{
  text-align: left;
  color: #635551;
  font-size: 14px;
  margin-left: 50px;
}
#cb1 h1::before{
  font-family: FontAwesome;
  content: "\f041";
  color: #ff5821;
  font-size: 25px;
  border: 1px dotted #ff5821;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 10px;
}
#cb2 h1::before{
  font-family: FontAwesome;
  content: "\f0e0";
  color: #ff5821;
  font-size: 20px;
  border: 1px dotted #ff5821;    
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
#cb3 h1::before{
  font-family: FontAwesome;
  content: "\f095";
  color: #ff5821;
  font-size: 25px;
  border: 1px dotted #ff5821;
  padding: 6px 10px;
  border-radius: 50%;
  margin-right: 10px;
}



/* Form sec  */


.form-back{
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.form-back input,textarea{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
#input1,#input2{
  width: 50%;
}
#send-massage{
  padding: 10px 20px;
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  background-color: #ff5821;
  color: #fff9f7;
  margin: 15px auto;
  cursor: pointer;
}




@media screen and (max-width: 1000px) {
  #topbar{
      display: none;
  }
  .back-width{
      width: 95%;
  }
  #nav-back ul{
      display: none;
  }
  #welcome-sec #welcome-heading{
      font-size: 16px;
  }
  .cb{
      width: 100%;
  }
  .form-back #input1{
      width: 100%;
  }
  .form-back #input2{
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body #welcome-sec{
      padding: 80px auto;
  }
  .card-section #card1{
      width: auto;
  }
  .card-section .cards{
      width: auto;
      margin-top: 20px;
  }
  #aboutus{
      flex-direction: column;
  }
  #aboutus #about-img{
      width: auto;
  }
  #aboutus #aboutus-detail{
      width: fit-content;
  }
  .lr-sec{
      flex-direction: column;
  }
  .lr-sec .l-sec{
      width: 100%;
     
  }
  .lr-sec .r-sec{
      width: 100%; 
  }
  footer{
      flex-direction: column;
  }  
}
@media screen and (min-width: 1000px) {
  #nav-back #nav-sidebar{
      display: none;
  }
  
}
